
@{
    ViewBag.Title = "AboutUs";
}

<h2>About Product</h2>
<hr />
<a href="/home/index">Home</a> | <a href="/home/aboutus">AboutUs</a> | <a href="/home/contact">Contact</a> | <a href="/product/index">Products</a>
<hr />
<p>Toys, like play itself, serve multiple purposes in both humans and animals</p>
<p> Toys enhance cognitive behavior and stimulate creativity</p>
<ol>
    <li>Soft Toys</li>
    <li>Educational Toys</li>
    <li>Electronics Toys</li>
    <li>Creative toys</li>
</ol>



