
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<a href="/home/index">Home</a> | <a href="/home/aboutus">About us</a> | <a href="/home/contact">Contact</a> | <a href="/product/index">Products</a>
<hr />

<p> Mentor: Bhagyashri Dhanak</p>
<p> Email: dhanakbhagyashri@gmail.com</p>
<p> Contact Number:8007349649</p>
<p> ruhi society,Tarwala nagar ,Dindori road,Nashik-04</p>

