
@{
    ViewBag.Title = "Index";
}

<h2>Product details</h2>

<hr />
<a href="/home/index">Home</a> | <a href="/home/aboutus">AboutUs</a> | <a href="/home/contact">Contact</a> | <a href="/product/index">Products</a>
<hr />



