@using FeedBackApp.Models
@{
    ViewBag.Title = "Index";
}

<h2>Feedback System</h2>

<hr />
<p><a href="/home/index">Home</a> | <a href="/account/login">Login</a> | <a href="/feedback/allfeedback">Allfeedback</a></p>