
@{
    ViewBag.Title = "Index"; 
 }

<h2>About Pokemon</h2>
<hr />
<<a href="/home/index">Home</a> | <a href="/home/aboutus">AboutUs</a> | <a href="/home/contact">Contact</a> |<a href="/product/index">Toys</a>
<hr />

<p>concept of the Pokémon universe </p>
<p>In both the video games and the general fictional world of Pokémon</p>
    <ol>
        <li>Soft Toys</li>
        <li>playing toys</li>
        <li>Video games</li>
        <li>Creative toys</li>
    </ol>
