@{
    ViewBag.Title = "Index";
}


<h2>About PokemonStore</h2>
<hr />
<a href="/home/index">Home</a> | <a href="/home/aboutus">AboutUs</a> | <a href="/home/contact">Contact</a>|<a href="/product/index">Toys</a>
<hr />

<p> Mentor: Ankita Kharat</p>
<p> Email: ankitakharat@pokemon.in</p>
<p> Contact Number:9834378044</p>
<p> Wardhaman nagar kaulkhed akola, Akola</p>