@{ ViewBag.Title = "Index"; }

<h2>Toy Store</h2>
<hr />
<a href="/home/index">Home</a> | <a href="/home/aboutus">About us</a> | <a href="/home/contact">Contact</a> | <a href="/product/index">Toys</a>
<hr />
<h3> Toys for Sale</h3>

<ol>
    <li> <a href="/product/details/1">Pikachu</a></li>
    <li> <a href="/product/details/2">Eevee</a></li>
    <li> <a href="/product/details/3">Charmander</a></li>
    <li> <a href="/product/details/4">Sylveon</a></li>
    

</ol>